Goal for the firm dataset we have in the data folder:
- read this in python
- check the dimension (rows, columns) of the data
- check the names of the variables in every dataset with columns names you could work with
- Identify if we have any missing data
- Look at the different data types 
- Anything else?
- Save this cleaned dataset

In [1]:
# import libraries

import pandas as pd

In [2]:
pd.set_option('display.max_columns', 500)

# read and preview the data

books = pd.read_excel("../data/raw/Case_study_1/Burnout in a case study company/Book.xlsx")
books.head()

,,What is your job title - Other (please specify),How long have you been with the company,contract,What is the highest level of education you have completed?,What age group do you belong to,How many children do you have,Please select which applies to you regarding your residence,Are you,Are you.1,I feel emotionally drained by my work.,Working with people all day long requires a great deal of effort.,I feel like my work is breaking me down.,I feel frustrated by my work.,I feel I work too hard at my job.,It stresses me too much to work in direct contact with people.,I feel like I’m at the end of my rope.,"I feel I look after certain clients impersonally, as if they are objects.",I feel tired when I get up in the morning and have to face another day at work.,I have the impression that students/clients/other staff make me responsible for some of their problems.,I am at the end of my patience at the end of my work day.,I really don’t care about what happens to some of my students/clients/colleagues.,I have become more insensitive to people since I have been working.,I’m afraid that this job is making me uncaring.,I accomplish many worthwhile things in this job.,I feel full of energy.,I am easily able to understand what my students/clients feel.,I look after my students’/clients’ problems very effectively.,"In my work, I handle emotional problems very calmly.","Through my work, I feel that I have a positive influence on people.",I am easily able to create a relaxed atmosphere with my students/clients.,I feel refreshed when I have been close to my students/clients at work.,Have you considered looking for another job in the last 12 months
0,Coordinator,NaN,Less than 1 year,4,1,31-35,1,H,M,F,1,1,1,1,1,1,1,1,4,4,1,1,1,1,5,4,6,5,6,5,5,6,Yes
1,Manager,NaN,5 to 10 years,1,4,36-40,2,H,M,F,3,6,1,2,4,1,1,1,1,2,1,1,1,1,6,6,6,6,5,6,5,5,No
2,Administrator,NaN,10 + years,1,5,51-60,2,H,M,F,2,2,1,2,2,1,1,1,1,1,1,2,1,1,2,3,4,6,5,6,6,5,Yes
3,Coordinator,NaN,Less than 1 year,2,3,25-30,0,R,M,F,4,6,3,2,2,5,1,1,3,4,5,3,4,1,5,5,7,7,5,7,7,3,No
4,Manager,NaN,5 to 10 years,1,3,25-30,0,H,M,M,3,3,2,2,2,2,1,1,1,1,1,1,1,1,6,6,6,6,6,6,7,7,Yes

In [3]:
type(books)

pandas.core.frame.DataFrame

In [4]:
# check the shape of the data

books.shape

(36, 33)

In [5]:
# the variables in the dataset we will want to explore

list(books)

# first column has no column name, and the names are very long

[' ',
 'What is your job title - Other (please specify)',
 'How long have you been with the company',
 'contract',
 'What is the highest level of education you have completed?',
 'What age group do you belong to',
 'How many children do you have',
 'Please select which applies to you regarding your residence',
 'Are you',
 'Are you.1',
 'I feel emotionally drained by my\xa0work.',
 'Working with people all day long\xa0requires a great deal of effort.',
 'I feel like my work is breaking me\xa0down.',
 'I feel frustrated by my work.',
 'I feel I work too hard at my job.',
 'It stresses me too much to work in\xa0direct contact with people.',
 'I feel like I’m at the end of my rope.',
 'I feel I look after certain clients\xa0impersonally, as if they are objects.',
 'I feel tired when I get up in the\xa0morning and have to face another day\xa0at work.',
 'I have the impression that students/clients/other staff make me responsible\xa0for some of their problems.',
 'I am at the end of my patience at the\xa0end of my work day.',
 'I really don’t care about what happens\xa0to some of my students/clients/colleagues.',
 'I have become more insensitive to\xa0people since I have been working.',
 'I’m afraid that this job is making me\xa0uncaring.',
 'I accomplish many worthwhile things\xa0in this job.',
 ' I feel full of energy.',
 'I am easily able to understand what\xa0my students/clients feel.',
 'I look after my students’/clients’\xa0problems very effectively.',
 'In my work, I handle emotional\xa0problems very calmly.',
 'Through my work, I feel that I have a\xa0positive influence on people.',
 ' I am easily able to create a relaxed\xa0atmosphere with my students/clients.',
 'I feel refreshed when I have been\xa0close to my students/clients at work.',
 'Have you considered\xa0looking for another job in the last 12 months']

In [6]:
# renamed the titles 
# to do: provide a data dictionary to map the variables

books.columns = ['job_title',
 'job_title_other',
 'duration',
 'contract',
 'education',
 'age_group',
 'number_children',
 'residency_status',
 'gender',
 'gender_1',
 'emotionally_drained_score',
 'working_w_others_effort_score',
 'break_down_score',
 'frustration_score.',
 'difficulty_score',
 'contact_score',
 'end_of_my_rope_score',
 'clients_objects_score',
 'tired_score',
 'blame_score',
 'patience_score',
 'empathy_score',
 'sensitivity_score',
 'care_score',
 'accomplishment_scre',
 'energy_score',
 'understanding_score',
 'problem_solving_score',
 'emotional_problems_score',
 'influence_score',
 'atmosphere_score',
 'refreshed_score',
 'looking_for_another_job']

# should we create a key somewhere?

In [7]:
books.head()

,job_title,job_title_other,duration,contract,education,age_group,number_children,residency_status,gender,gender_1,emotionally_drained_score,working_w_others_effort_score,break_down_score,frustration_score.,difficulty_score,contact_score,end_of_my_rope_score,clients_objects_score,tired_score,blame_score,patience_score,empathy_score,sensitivity_score,care_score,accomplishment_scre,energy_score,understanding_score,problem_solving_score,emotional_problems_score,influence_score,atmosphere_score,refreshed_score,looking_for_another_job
0,Coordinator,NaN,Less than 1 year,4,1,31-35,1,H,M,F,1,1,1,1,1,1,1,1,4,4,1,1,1,1,5,4,6,5,6,5,5,6,Yes
1,Manager,NaN,5 to 10 years,1,4,36-40,2,H,M,F,3,6,1,2,4,1,1,1,1,2,1,1,1,1,6,6,6,6,5,6,5,5,No
2,Administrator,NaN,10 + years,1,5,51-60,2,H,M,F,2,2,1,2,2,1,1,1,1,1,1,2,1,1,2,3,4,6,5,6,6,5,Yes
3,Coordinator,NaN,Less than 1 year,2,3,25-30,0,R,M,F,4,6,3,2,2,5,1,1,3,4,5,3,4,1,5,5,7,7,5,7,7,3,No
4,Manager,NaN,5 to 10 years,1,3,25-30,0,H,M,M,3,3,2,2,2,2,1,1,1,1,1,1,1,1,6,6,6,6,6,6,7,7,Yes

In [8]:
# why do we have two gender columns??


books.gender.value_counts()

gender
M    26
S    10
Name: count, dtype: int64

In [9]:

books.gender_1.value_counts()

gender_1
F    28
M     8
Name: count, dtype: int64

In [10]:
# will drop the first one and rename - not quite sure what the first gender column is

books.drop(['gender'], inplace = True, axis = 1)

books = books.rename(columns = {"gender_1": "gender"})

In [11]:
books.gender.value_counts()

gender
F    28
M     8
Name: count, dtype: int64

In [12]:
# identify missing data

books.isnull().sum()

# which variables are completely missing? The output shows number of missing values. 0 means no missing values.

job_title                         0
job_title_other                  33
duration                          0
contract                          0
education                         0
age_group                         0
number_children                   0
residency_status                  0
gender                            0
emotionally_drained_score         0
working_w_others_effort_score     0
break_down_score                  0
frustration_score.                0
difficulty_score                  0
contact_score                     0
end_of_my_rope_score              0
clients_objects_score             0
tired_score                       0
blame_score                       0
patience_score                    0
empathy_score                     0
sensitivity_score                 0
care_score                        0
accomplishment_scre               0
energy_score                      0
understanding_score               0
problem_solving_score             0
emotional_problems_score          0
influence_score                   0
atmosphere_score                  0
refreshed_score                   0
looking_for_another_job           0
dtype: int64

In [13]:
# cases where job_title_other is not null
# will drop this column

books[~books.job_title_other.isnull()]

,job_title,job_title_other,duration,contract,education,age_group,number_children,residency_status,gender,emotionally_drained_score,working_w_others_effort_score,break_down_score,frustration_score.,difficulty_score,contact_score,end_of_my_rope_score,clients_objects_score,tired_score,blame_score,patience_score,empathy_score,sensitivity_score,care_score,accomplishment_scre,energy_score,understanding_score,problem_solving_score,emotional_problems_score,influence_score,atmosphere_score,refreshed_score,looking_for_another_job
6,Coordinator,Learning Technologist,Less than 1 year,2,2,41-50,0,H,F,6,3,4,5,5,5,6,2,6,3,3,4,3,4,4,2,3,4,3,3,2,3,Yes
7,Technician,"Programmer / Developer, Education Systems",2 to 5 years,1,4,41-50,0,H,M,1,2,1,1,1,1,1,1,1,1,1,1,1,1,6,7,6,6,6,6,6,3,No
18,Manager,Buildings and Estates Manager,2 to 5 years,1,2,36-40,2,H,F,4,5,2,3,3,1,1,1,1,5,1,1,1,1,5,5,5,6,6,6,6,4,No

In [14]:
# remove job title other as contains missing data and does not add any further information

books.drop(["job_title_other"], axis = 1, inplace = True)

In [15]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   job_title                      36 non-null     object
 1   duration                       36 non-null     object
 2   contract                       36 non-null     int64
 3   education                      36 non-null     int64
 4   age_group                      36 non-null     object
 5   number_children                36 non-null     object
 6   residency_status               36 non-null     object
 7   gender                         36 non-null     object
 8   emotionally_drained_score      36 non-null     int64
 9   working_w_others_effort_score  36 non-null     int64
 10  break_down_score               36 non-null     int64
 11  frustration_score.             36 non-null     int64
 12  difficulty_score               36 non-null     int64
 13  contact_score                  36 non-null     int64
 14  end_of_my_rope_score           36 non-null     int64
 15  clients_objects_score          36 non-null     int64
 16  tired_score                    36 non-null     int64
 17  blame_score                    36 non-null     int64
 18  patience_score                 36 non-null     int64
 19  empathy_score                  36 non-null     int64
 20  sensitivity_score              36 non-null     int64
 21  care_score                     36 non-null     int64
 22  accomplishment_scre            36 non-null     int64
 23  energy_score                   36 non-null     int64
 24  understanding_score            36 non-null     int64
 25  problem_solving_score          36 non-null     int64
 26  emotional_problems_score       36 non-null     int64
 27  influence_score                36 non-null     int64
 28  atmosphere_score               36 non-null     int64
 29  refreshed_score                36 non-null     int64
 30  looking_for_another_job        36 non-null     object
dtypes: int64(24), object(7)
memory usage: 8.8+ KB

In [16]:
books.describe()

,contract,education,emotionally_drained_score,working_w_others_effort_score,break_down_score,frustration_score.,difficulty_score,contact_score,end_of_my_rope_score,clients_objects_score,tired_score,blame_score,patience_score,empathy_score,sensitivity_score,care_score,accomplishment_scre,energy_score,understanding_score,problem_solving_score,emotional_problems_score,influence_score,atmosphere_score,refreshed_score
count,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.00000,36.000000,36.000000,36.00000,36.000000,36.000000,36.000000
mean,1.416667,2.777778,3.583333,3.666667,2.500000,3.083333,3.555556,2.138889,1.916667,1.722222,3.472222,3.194444,2.277778,1.861111,1.916667,1.944444,4.333333,4.25000,5.250000,5.750000,5.25000,5.333333,5.611111,4.638889
std,0.769972,0.988826,1.794834,1.985663,1.764734,1.903005,1.811778,1.514742,1.778844,1.406335,1.963759,1.864242,1.560423,1.396992,1.380993,1.722862,1.530639,1.64534,1.338976,1.180194,1.40153,1.454058,1.517098,1.742786
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,2.000000,3.000000,2.00000,2.000000,2.000000,1.000000
25%,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,3.00000,4.000000,5.000000,4.75000,4.750000,5.000000,3.000000
50%,1.000000,3.000000,3.500000,3.500000,2.000000,2.000000,3.000000,2.000000,1.000000,1.000000,3.000000,3.000000,2.000000,1.000000,1.000000,1.000000,5.000000,4.00000,5.000000,6.000000,5.50000,6.000000,6.000000,5.000000
75%,2.000000,3.000000,4.250000,5.250000,3.250000,4.000000,5.000000,2.250000,2.000000,2.000000,5.250000,4.000000,2.250000,2.000000,2.250000,2.000000,5.000000,6.00000,6.000000,7.000000,6.00000,6.000000,7.000000,6.000000
max,4.000000,5.000000,7.000000,7.000000,7.000000,7.000000,7.000000,6.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,6.000000,7.000000,7.000000,7.00000,7.000000,7.000000,7.00000,7.000000,7.000000,7.000000

In [17]:
# save this

books.to_excel("../data/cleaned/case_study_1_burnout.xlsx", index = False)

In [18]:
# check data cleaned correctly

pd.read_excel("../data/cleaned/case_study_1_burnout.xlsx")

,job_title,duration,contract,education,age_group,number_children,residency_status,gender,emotionally_drained_score,working_w_others_effort_score,break_down_score,frustration_score.,difficulty_score,contact_score,end_of_my_rope_score,clients_objects_score,tired_score,blame_score,patience_score,empathy_score,sensitivity_score,care_score,accomplishment_scre,energy_score,understanding_score,problem_solving_score,emotional_problems_score,influence_score,atmosphere_score,refreshed_score,looking_for_another_job
0,Coordinator,Less than 1 year,4,1,31-35,1,H,F,1,1,1,1,1,1,1,1,4,4,1,1,1,1,5,4,6,5,6,5,5,6,Yes
1,Manager,5 to 10 years,1,4,36-40,2,H,F,3,6,1,2,4,1,1,1,1,2,1,1,1,1,6,6,6,6,5,6,5,5,No
2,Administrator,10 + years,1,5,51-60,2,H,F,2,2,1,2,2,1,1,1,1,1,1,2,1,1,2,3,4,6,5,6,6,5,Yes
3,Coordinator,Less than 1 year,2,3,25-30,0,R,F,4,6,3,2,2,5,1,1,3,4,5,3,4,1,5,5,7,7,5,7,7,3,No
4,Manager,5 to 10 years,1,3,25-30,0,H,M,3,3,2,2,2,2,1,1,1,1,1,1,1,1,6,6,6,6,6,6,7,7,Yes
5,Manager,10 + years,1,3,31-35,1,H,F,2,3,2,2,3,4,1,4,2,2,1,1,3,2,5,2,6,4,2,3,6,3,Yes
6,Coordinator,Less than 1 year,2,2,41-50,0,H,F,6,3,4,5,5,5,6,2,6,3,3,4,3,4,4,2,3,4,3,3,2,3,Yes
7,Technician,2 to 5 years,1,4,41-50,0,H,M,1,2,1,1,1,1,1,1,1,1,1,1,1,1,6,7,6,6,6,6,6,3,No
8,Administrator,5 to 10 years,1,4,31-35,0,R,F,3,1,2,3,2,1,1,1,3,4,2,4,2,2,2,2,7,7,6,6,6,6,Yes
9,Manager,Less than 1 year,1,2,36-40,2,H,F,1,1,1,1,1,1,1,1,1,1,1,1,1,1,5,4,4,5,5,5,5,6,No
10,Administrator,Less than 1 year,2,2,31-35,0,R,F,5,5,3,2,5,2,2,2,3,5,2,1,1,1,5,3,5,5,5,5,5,3,No
11,Operations Assistant,Less than 1 year,2,4,31-35,1,H,F,1,1,1,1,1,1,1,1,6,1,1,1,1,1,7,6,7,7,7,7,7,7,No
12,Operations Assistant,2 to 5 years,1,3,25-30,1,H,F,2,1,1,2,2,1,2,1,5,1,2,1,1,1,2,3,2,3,3,2,3,3,Yes
13,Porter,10 + years,1,5,41-50,0,P,M,6,6,6,5,5,6,6,3,6,6,2,2,6,6,5,7,7,7,7,6,7,4,Yes
14,Head of Department,10 + years,1,2,41-50,3 or more,H,F,2,4,1,2,2,1,1,1,2,1,2,1,1,1,4,6,5,7,6,6,6,6,No
15,Technician,2 to 5 years,1,4,36-40,0,H,M,6,7,4,7,6,1,1,7,5,7,4,7,1,7,1,7,7,7,3,3,7,1,Yes
16,Manager,10 + years,1,3,36-40,2,H,F,4,4,4,4,5,2,1,2,4,4,5,2,2,1,6,4,4,5,3,5,5,3,No
17,Administrator,1 to 2 years,2,3,25-30,0,P,F,4,3,2,2,3,2,1,1,4,4,2,1,2,2,4,4,5,6,6,7,7,6,No
18,Manager,2 to 5 years,1,2,36-40,2,H,F,4,5,2,3,3,1,1,1,1,5,1,1,1,1,5,5,5,6,6,6,6,4,No
19,Administrator,5 to 10 years,4,2,36-40,0,H,M,4,6,1,4,4,3,1,1,2,3,1,1,2,1,5,4,6,6,5,4,6,2,Yes
20,Manager,1 to 2 years,2,2,41-50,2,H,M,4,4,3,3,3,2,1,1,6,1,2,1,1,1,5,2,5,4,5,4,4,4,Yes
21,Coordinator,2 to 5 years,1,3,31-35,0,R,F,3,4,1,2,2,1,1,1,3,4,1,2,1,1,4,4,6,6,6,6,6,6,No
22,Coordinator,2 to 5 years,2,2,36-40,1,H,F,4,1,1,3,3,2,1,1,2,3,3,2,3,2,4,4,4,7,7,7,7,7,Yes
23,Manager,Less than 1 year,1,2,31-35,0,H,F,3,2,1,3,4,1,1,1,1,1,1,1,1,1,7,7,7,7,7,7,7,4,No
24,Operations Assistant,2 to 5 years,1,2,25-30,0,R,F,2,2,2,2,2,2,2,2,2,2,2,1,2,2,4,6,6,6,6,6,6,6,Yes
25,Manager,10 + years,1,1,51-60,0,H,F,7,7,7,7,7,4,7,4,7,4,7,4,5,6,3,1,6,6,4,6,6,5,Yes
26,Technician,2 to 5 years,1,2,25-30,0,P,F,4,5,2,3,6,1,1,1,3,1,1,1,1,1,3,4,4,7,7,7,7,7,Yes
27,Coordinator,Less than 1 year,2,3,31-35,0,R,M,5,6,2,2,4,2,2,1,6,6,2,1,1,1,5,4,7,7,7,6,7,7,Yes
28,Administrator,2 to 5 years,1,3,25-30,0,R,F,3,2,2,2,3,1,1,1,2,2,2,1,1,1,3,5,6,6,6,6,6,6,Yes
29,Administrator,1 to 2 years,1,4,25-30,0,R,F,2,4,1,1,2,2,1,2,4,3,2,2,2,2,4,3,3,4,4,4,3,3,No
30,Operations Assistant,1 to 2 years,2,3,31-35,0,H,F,2,2,2,2,5,2,1,1,3,3,2,1,1,1,6,3,5,5,3,6,6,6,Yes
31,Executive Administrator,5 to 10 years,1,3,36-40,1,H,F,4,5,4,6,7,3,4,4,2,6,2,1,4,4,2,3,4,6,5,3,2,2,Yes
32,Coordinator,5 to 10 years,1,3,31-35,0,R,M,2,2,2,2,4,1,2,1,6,3,2,3,3,2,5,5,5,5,4,6,6,6,No
33,Operations Assistant,2 to 5 years,1,2,25-30,0,R,F,6,7,6,7,4,1,2,1,6,4,5,1,1,1,2,3,5,7,7,6,6,2,Yes
34,Administrator,2 to 5 years,1,2,36-40,1,R,F,7,3,4,6,6,4,3,1,4,5,3,4,1,1,3,3,3,3,5,2,2,4,Yes
35,Coordinator,1 to 2 years,1,2,31-35,0,H,F,7,6,7,7,7,6,7,5,7,7,6,4,5,6,6,6,5,6,6,6,7,6,Yes